body{
    border: 0px;
    margin: 0px;
    background-color: #ababab;
    color: black;
}
nav{
    width: 100%;
    height: 160px;
    justify-content: center;
    display: flex;
    background-color: #2e8b57;
}
.nav-left, .nav-right{
 width: 160px;
}
.nav-left img{
    width:160px
}
.nav-mid{
width: 80%;
text-align: center;

}
.nav-mid span{
    font-size: 40px;
    /* display: inline-block; */
    /* line-height: 160px; */
    vertical-align: middle;
}
.nav-mid img{
    display: none;
}
img{
    width: 160px;
    height: inherit;
    float:inline-end;
}
.inputs{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
input{
    margin-right: 50px;
    margin-left: 50px;
    width: 200px;
}
.input-block{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 40px 10px 40px 10px;
    font-size: 40px;
}
.display-block{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 40px 10px 40px 10px;
    text-align: center;
    font-size: 40px;
    /* visibility: hidden; */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.input-block  span{
    transform: translate(-50%);
    margin-left: 50%;
}
button{
    transform: translate(-50%);
    margin-left: 50%;
    border: 1px solid #ababab;
    border-radius: 20px 5px 20px 5px;
    padding: 5px;
    background-color: #2e8b57;
    color: black;
}
button:hover{
    filter: brightness(140%);
}
label{
    display: flex;
}
.display-block button{
    position: absolute;
    float: right;
    margin: 0px 0px 0px 0px;
}

@media only screen and (max-width: 1004px){
    .nav-mid span{
        font-size: 30px;
    }
    .nav-right{
        display: none;
    }
}

@media only screen and (min-width: 689px){
    .nav-mid span{
        line-height: 160px;
    }
}

@media only screen and (max-width: 760px) {
    .nav-mid span{
        font-size: 30px;
        /* line-height: 160px; */
        padding-top: 34px;
    }
    .nav-mid{
        width: 100%;

    }
    .nav-left{
        width: 160px;
        height: 160px;
    }
    .nav-right{
        display: none;
        /* width: 0px; */
    }
    .input-block{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 440px) and (max-width: 688px){
    .nav-mid span{
        padding-top: 70px;
        font-size:30px
    }
}

@media only screen and (max-width: 369px){
    .nav-mid span{
        font-size: 25px;
    }
}

@media only screen and (max-width: 339px){
    .nav-mid span{
        display: none;
    }
    .nav-mid img{
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .nav-left{
        display: none;
    }
}